{% block rl_redirects_details %}
    <sw-page class="rl-redirects-details">
        <template slot="smart-bar-actions">
            <sw-button :routerLink="{name: 'scop.platform.redirect.list'}">
                {{ $t('rl-redirects.detail.cancelButton') }}
            </sw-button>

            <sw-button-process :isLoading="isLoading"
                               :processSuccess="processSuccess"
                               variant="primary"
                               @process-finish="saveFinish"
                               @click="onClickSave">
                {{ $t('rl-redirects.detail.saveButton') }}
            </sw-button-process>
        </template>
        <template slot="content">
            <sw-card-view>
                <sw-card :isLoading="isLoading">
                    <sw-field :label="$t('rl-redirects.detail.sourceUrlLabel')"
                              v-model="redirect.source"
                              validation="required"></sw-field>

                    <sw-field :label="$t('rl-redirects.detail.targetUrlLabel')"
                              v-model="redirect.target"
                              validation="required"></sw-field>

                    <sw-select-number-field :label="$t('rl-redirects.detail.httpCodeLabel')"
                                            v-model="redirect.httpCode"
                                            validation="required">
                        <option value=301>{{ $t('rl-redirects.detail.httpCodeLabelValues.301') }}</option>
                        <option value=302>{{ $t('rl-redirects.detail.httpCodeLabelValues.302') }}</option>
                    </sw-select-number-field>
                </sw-card>
            </sw-card-view>
        </template>
    </sw-page>
{% endblock %}
